<template>
	<section class="container">
        <a id='tel' href="tel:4006998883"></a>
        <a id='kefu' href="https://www.sobot.com/chat/h5/index.html?sysNum=65ff5a54ee8f4571a8cb1f4ef6294b94"></a>
    </section>
</template>